
/*GENERALES*/
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  .card__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .card_description {
    display: flex;
    flex-direction: column;
    padding: 36px;
    text-align: center;
  }
  
  .card_description__title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  
  .card_description__detail {
    font-size: 16px;
  }
  
  #card-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    background-color: #222;
    color: #ddd;
  }
  
  .services-containe__title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: #222;
    color: #ddd;

  }
  
  .card_description__detail {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    #card-services {
      grid-template-columns: 1fr;
    }
  }